{% extends 'app/base.html' %} 
{% load static %} {% block title %}Home{% endblock title %}
 {% block banner_slider %}
<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="{% static 'app/images/banner/b1.jpg' %}"
        class="d-block w-100"
        alt="banner image"
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'app/images/banner/b2.jpg' %}"
        class="d-block w-100"
        alt="banner image"
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'app/images/banner/b3.jpg' %}"
        class="d-block w-100"
        alt="banner image"
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'app/images/banner/b4.jpg' %}"
        class="d-block w-100"
        alt="banner image"
      />
    </div>
  </div>
</div>
{% endblock banner_slider %} {% block information %}
<div class="container">
  <div class="row bg-success text-center p-5 text-white border-bottom shadow">
    <h1>Products</h1>
    <small class="f5-5"
      >DODLA offers a wide range of products in both liquid Milk and by-product
      categories. The liquid milk comprises 5 types of variants, and the
      by-product comprises 14 types of variants.</small
    >
  </div>
</div>
{% endblock information %} {% block main-content %}
<br /><br />

<br /><br />
<div class="container">
  <h2 class="text-center">Dairy Product</h2>
</div>
<br /><br />
<div class="row container">
  <div
    class="col-md-4 col-sm-4 mi-g o wow fadeInUp"
    data-wow-duration="1s"
    data-wow-delay="0.6s"
    style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none"
  >
    <div class="goodnesssec buttermilk smbg">
      <a href="{% url 'category' 'GH' %}">
        <div class="goodnessseccont text-center">
          <img
            src="{% static 'app/images/product/buffalo-ghee.png' %}"
            class="img-fluid"
            alt="Ghee"
          />
          <p class="mlkpro">Ghee</p>
        </div>
      </a>
    </div>
  </div>

  <div
    class="col-md-4 col-sm-4 mi-g wow fadeInUp"
    data-wow-duration="1s"
    data-wow-delay="0.6s"
    style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none"
  >
    <div class="goodnesssec buttermilk smbg">
      <a href="{% url 'category' 'CR' %}">
        <div class="goodnessseccont text-center">
          <img
            src="{% static 'app/images/product/curd-total.png' %}"
            class="img-fluid"
            alt="Curd"
          />
          <p class="mlkpro">Curd</p>
        </div>
      </a>
    </div>
  </div>

  <div
    class="col-md-4 col-sm-4 mi-g wow fadeInUp"
    data-wow-duration="1s"
    data-wow-delay="0.6s"
    style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none"
  >
    <div class="goodnesssec buttermilk smbg">
      <a href="{% url 'category' 'IC' %}">
        <div class="goodnessseccont text-center">
          <img
            src="{% static 'app/images/product/kulfi.png' %}"
            class="img-fluid"
            alt="Kulfi"
          />
          <p class="mlkpro">Ice-Creams</p>
        </div>
      </a>
    </div>
  </div>
</div>

<br /><br />

<br /><br />
<div class="row container">
  <div
    class="col-md-4 col-sm-4 mi-g o wow fadeInUp"
    data-wow-duration="1s"
    data-wow-delay="0.6s"
    style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none"
  >
    <div class="goodnesssec buttermilk smbg">
      <a href="{% url 'category' 'MS' %}">
        <div class="goodnessseccont text-center">
          <img
            src="{% static 'app/images/product/milk-shake-chocolate.png' %}"
            class="img-fluid"
            alt="Ghee"
          />
          <p class="mlkpro">MilkShake</p>
        </div>
      </a>
    </div>
  </div>

  <div
    class="col-md-4 col-sm-4 mi-g wow fadeInUp"
    data-wow-duration="1s"
    data-wow-delay="0.6s"
    style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none"
  >
    <div class="goodnesssec buttermilk smbg">
      <a href="{% url 'category' 'ML' %}">
        <div class="goodnessseccont text-center">
          <img
            src="{% static 'app/images/product/cow-milk.png' %}"
            class="img-fluid"
            alt="Curd"
          />
          <p class="mlkpro">Milk</p>
        </div>
      </a>
    </div>
  </div>

  <div
    class="col-md-4 col-sm-4 mi-g wow fadeInUp"
    data-wow-duration="1s"
    data-wow-delay="0.6s"
    style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none"
  >
    <div class="goodnesssec buttermilk smbg">
      <a href="{% url 'category' 'IC' %}">
        <div class="goodnessseccont text-center">
          <img
            src="/static/app/images/product/icbars.png"
            class="img-fluid"
            alt="icebars"
          />
          <p class="mlkpro">Icebar</p>
        </div>
      </a>
    </div>
  </div>

  {% endblock main-content %}
</div>
